<footer class="airbnb-footer mt-5">
    <div class="footer-top py-5 bg-light border-top">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3 mb-4 mb-md-0">
                    <h6 class="fw-bold mb-3">Support</h6>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-2"><a href="#" class="text-decoration-none text-dark">Help Center</a></li>
                        <li class="mb-2"><a href="#" class="text-decoration-none text-dark">Safety information</a></li>
                        <li class="mb-2"><a href="#" class="text-decoration-none text-dark">Cancellation options</a>
                        </li>
                        <li class="mb-2"><a href="#" class="text-decoration-none text-dark">Our COVID-19 Response</a>
                        </li>
                        <li><a href="#" class="text-decoration-none text-dark">Supporting people with disabilities</a>
                        </li>
                    </ul>
                </div>

                <div class="col-12 col-md-3 mb-4 mb-md-0">
                    <h6 class="fw-bold mb-3">Community</h6>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-2"><a href="#" class="text-decoration-none text-dark">Wanderlust.org-disaster
                                relief</a></li>
                        <li class="mb-2"><a href="#" class="text-decoration-none text-dark">Support Afghan refugees</a>
                        </li>
                        <li class="mb-2"><a href="#" class="text-decoration-none text-dark">Combating discrimination</a>
                        </li>
                        <li><a href="#" class="text-decoration-none text-dark">Sustainability initiatives</a></li>
                    </ul>
                </div>

                <div class="col-12 col-md-3 mb-4 mb-md-0">
                    <h6 class="fw-bold mb-3">Hosting</h6>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-2"><a href="#" class="text-decoration-none text-dark">Try hosting</a></li>
                        <li class="mb-2"><a href="#" class="text-decoration-none text-dark">AirCover: protection for
                                Hosts</a></li>
                        <li class="mb-2"><a href="#" class="text-decoration-none text-dark">Explore hosting
                                resources</a></li>
                        <li class="mb-2"><a href="#" class="text-decoration-none text-dark">Visit our community
                                forum</a></li>
                        <li><a href="#" class="text-decoration-none text-dark">How to host responsibly</a></li>
                    </ul>
                </div>

                <div class="col-12 col-md-3">
                    <h6 class="fw-bold mb-3">About</h6>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-2"><a href="#" class="text-decoration-none text-dark">Newsroom</a></li>
                        <li class="mb-2"><a href="#" class="text-decoration-none text-dark">Learn about new features</a>
                        </li>
                        <li class="mb-2"><a href="#" class="text-decoration-none text-dark">Letter from our founders</a>
                        </li>
                        <li class="mb-2"><a href="#" class="text-decoration-none text-dark">Careers</a></li>
                        <li class="mb-2"><a href="#" class="text-decoration-none text-dark">Investors</a></li>
                        <li><a href="#" class="text-decoration-none text-dark">Gift cards</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom py-4 border-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 text-center text-md-start mb-3 mb-md-0">
                    <p class="mb-0">&copy; 2025 Wanderlust, Inc. &middot; <a href="#"
                            class="text-decoration-none text-dark">Privacy</a> &middot; <a href="#"
                            class="text-decoration-none text-dark">Terms</a> &middot; <a href="#"
                            class="text-decoration-none text-dark">Sitemap</a></p>
                </div>
                <div class="col-12 col-md-6">
                    <div class="d-flex justify-content-center justify-content-md-end align-items-center">
                        <div class="me-4">
                            <a href="#" class="text-decoration-none text-dark">
                                <i class="fas fa-globe me-2"></i>English (US)
                            </a>
                        </div>
                        <div class="me-4">
                            <a href="#" class="text-decoration-none text-dark">₹ INR</a>
                        </div>
                        <div class="social-links">
                            <a href="#" class="text-decoration-none text-dark me-3"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a href="#" class="text-decoration-none text-dark me-3"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="text-decoration-none text-dark"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>